name: Backend Deploy

on:
  push:
    paths:
      - 'backend/**'

jobs:
  deploy:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: backend

    steps:
      - uses: actions/checkout@v4

      - name: Configure AWS
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-region: ${{ secrets.AWS_REGION }}
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

      - name: Install deps
        run: npm ci

      - name: Build app
        run: npm run build

      - name: Package Lambda
        run: |
          cd dist
          zip -r lambda.zip .

      - name: Fetch Terraform Outputs
        run: |
          cd ../infra/terraform/environments/dev
          terraform init -input=false
          terraform output -json > outputs.json

      - name: Extract Lambda Name
        id: tf
        run: |
          LAMBDA_NAME=$(jq -r '.lambda_function_name.value' infra/terraform/environments/dev/outputs.json)
          echo "lambda=$LAMBDA_NAME" >> $GITHUB_OUTPUT

      - name: Deploy Lambda
        run: |
          aws lambda update-function-code \
            --function-name ${{ steps.tf.outputs.lambda }} \
            --zip-file fileb://backend/dist/lambda.zip